/*
---------------------------------------
ESTRUTURAÇÃO BASE
--------------------------------------------
**** DECLARAÇÃO DE VARIÁVEIS
**** ESTILOS GERAIS
**** BODY
**** HEADER
**** FOOTER
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA


fundo darkmode: #19232f
fundo info sobre darkmode: #2d3846
fundo footer darkmode: #131a23
textos darkmode: #e4e4e4
borda darkmode: #9fb1c7

*/

/* VARIAVEIS */


/*GERAL*/
html, body, figure, img, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul,li, a,main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Source sans pro', sans-serif;
    font-size: 16px;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row{}

.container_collumn{}

.collumn{}

.collumn_left{
}

.collumn_right{
    background-color: white;
    transition: all ease-in-out .6s;    
}


/* BODY */
body{}

input:checked ~ main{
background-color: rgb(56, 1, 1);
}

input:checked ~ main .collumn_right{
    background-color: black;
}

input:checked ~ main .descrição_imagem{
    color: #fdd1d1;
}

input:checked ~ main section h2, section p{
    color: white;
}

input:checked ~ main .trocar_modo label span{
    transform: translate(20px);
    }

input:checked ~ footer{
    background-color: rgb(82, 8, 23);
}



/* PÁGINA INICIAL */
main{
    background-color: bisque;
    transition: all ease-in-out .6s;
}
main .container{}

main .row{
    
}
main .collumn{}

.descrição_topo{}

main .container_collumn{
    padding: 25px;
}

.foto_de_perfil{
    text-align: center;
}
.foto_de_perfil img{
    width: 100%;
    max-width: 150px;
    border-radius: 100%;
}
.hidden{
    display: none;
}
.descrição_imagem{
    text-align: center;
    transition: all ease-in-out .6s;    
}
.descrição_imagem h1{
    font-size: 1.3rem;
}
.descrição_imagem h2{
    font-weight: normal;
}
.descrição_imagem ul{
    margin-top: 20px;
}

.descrição_imagem ul li{
    font-size: 14px;
    margin-block: 10px;
}

.descrição_imagem ul li strong{
font-size: 14px;
}

.descrição_imagem ul li a{
    font-size: 14px;
    color:inherit
}
.trocar_modo{
    margin-top: 30px;
}
.trocar_modo label{
    width: 40px;
    height: 20px;
    display: block;
    background-color: crimson;
    border-radius: 20px;
    padding: 4px; 
    margin: 0 auto;
}
.trocar_modo label span{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: bisque;
    border-radius: 100%;
    transition: all ease-in-out .6s;
}

section {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d9e2ee;
}
section h2{
    font-size: 1.3rem;
    color:black;
    margin-bottom: 10px;
    line-height: 22px;
    transition: all ease-in-out .6s;
}
section p{
    font-size: 14px;
    color: #636363;
    line-height: 22px;
    transition: all ease-in-out .6s;
}
section ul{}
section ul li{
    margin-bottom: 10px;
}
section ul li p{}

.descrição_pessoal{}
.perfil{}
.perfil h2{}
.perfil p{}

.Animes_favoritos{}
.Animes_favoritos h2{}
.Animes_favoritos ul{}
.Animes_favoritos ul li{}
.Animes_favoritos ul li p{}

.Jogos_favoritos{
    margin-bottom: 0px;
    border-bottom: none;
}
.Jogos_favoritos h2{}
.Jogos_favoritos ul{}
.Jogos_favoritos ul li{}
.Jogos_favoritos ul li p{}



/* FOOTER */
footer{
    background-color: crimson;
    padding: 20px;
    transition: all ease-in-out .6s;
}
.Redes_sociais{
    text-align: center;
}
.Redes_sociais_lista{}
.Redes_sociais_lista_Item {
    display: inline-block;
    margin: 0 50px;
}
.Redes_sociais_lista_Item a{}
.Redes_sociais_lista_Item a img{
    width: 100%;
    max-width: 50px;
}

/* @MEDIA QUERY */
@media screen and (min-width: 768px){
    main .row{
        display: flex;
        flex-flow: row wrap;
    }
    .collumn_left{
        flex-basis: 36%;
    }
    .collumn_right{
        flex-basis: 64%;
    }
    
}